.page-footer {
    margin: 0 auto;
   
}

.content {
    display: flex;
    align-items: center;
    min-height: 63px;
    border-style: solid;
    border-width: 1px;
    border-color: $border-color-secondry;
}

.content__text {
    margin: 0; 
    font-size: 14px;
    font-family: $main-font;
    color: $text-color-primary;
    line-height: 1.2;
    font-weight: 300;
    
}

.content__form {
    font-family: $main-font;
    color: $text-color-secondary;
    font-size: 15px;
    line-height: 24px;
    font-weight: 100;
    padding: 0;
    border-color: $border-color-secondry;
    border-style: solid;
    border-width: 1px;
    width: 234px;
    height: 40px;
    margin-left: auto;
 
}

.content__btn {
    border: none;
    font-size: 14px;
    font-family: $main-font;
    color: $text-color-main;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    background-color: $bg-color-secondary;
    width: 150px;
    height: 40px;
    padding: 0;
    cursor: pointer;

    &:hover {
        background-color: $bg-color-primary;
        color: $color-hover-primary;
    }
    
}

::placeholder {
    font-size: 15px;
    font-family: $primary-font;
    color: rgb(204, 204, 204);
    font-style: italic;
    line-height: 1.6;
      
}
