.service-item {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
    width: 381px;
    list-style: none;
    margin-bottom: 60px;
}

.service-icon::before {
    display: block;
    content: "";
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    cursor: pointer;
}

.service-icon--alarm::before  {
    background-image: url(../images/icons/ALARM.png);
    
    @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
        .service-icon--alarm::before  {
            background-image: url(../images/icons/ALARM@2px.png);   
        }   
    }
}
  
.service-icon--graph::before  {
    background-image: url(../images/icons/LINE\GRAPH.png); 
    
    @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
        .service-icon--graph::before  {
            background-image: url(../images/icons/LINE\GRAPH@2px.png);  
        }
    }
 }

.service-icon--computer::before  {
    background-image: url(../images/icons/COMPUTER\_\OK.png);

    @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
        .service-icon--computer::before  {
            background-image: url(../images/icons/COMPUTER\_\OK@2px.png);
        }
    }
}

.service-icon--book::before  {
    background-image: url(../images/icons/BOOK\2.png); 
    
    @media (min-resolution: 192dpi), (min-resolution: 2dppx) {  
        .service-icon--book::before  {
            background-image: url(../images/icons/BOOK\2@2px.png);  
        }
    }
}

.service-icon--home::before  {
    background-image: url(../images/icons/HOME.png);

    @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
        .service-icon--home::before  {
            background-image: url(../images/icons/HOME@2px.png);
        }
    }
}

.service-icon--image::before  {
    background-image: url(../images/icons/IMAGE.png); 
    
    @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
        .service-icon--image::before  {
            background-image: url(../images/icons/IMAGE@2px.png);   
        }
    }
}

.service-item__title {
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(51, 51, 51);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: left;
    margin: 0;
    padding-left: 55px;
    font-weight: 300;
}
  
.service-item__about {
    margin: 0;
    padding: 0;
    padding-left: 60px;
    text-align: center;
    font-family: 'Roboto';
    font-weight: 300;
    line-height: 24px;
    font-size: 15px;
    color: #999999;
}