$main-font:"Montserrat-Regular";
$main-font-bold: "Montserrat-Bold";
$primary-font:"Roboto-Regular";
$primary-font-italic: "Roboto-Italic";
$secondary-font:"Kaushan Scrip-Regular";

$text-color-main: white;
$text-color-primary:#515151;
$text-color-secondary:#999999;

$border-color-main: white;
$border-color-primary:#ff4e50;
$border-color-secondry:#999999;

$bg-color-main:#fce38a;
$bg-color-primary:#f38181;
$bg-color-secondary: rgb(149, 225, 211);

$color-hover-main:#fce38a;
$color-hover-primary: black;

$fill-main: white;
$fill-primary: #f38181;

$fill-hover-main:#fce38a;
$fill-hover-primary:white;