@font-face {
  font-family: 'Montserrat', sans-serif;
  src: local('Montserrat'), local("Montserrat-Regular"),
  url(../fonts/montserrat-v14-latin-regular.woff) format("woff"),
  url(../fonts/montserrat-v14-latin-regular.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat', sans-serif;
  src: local("Montserrat"), local("Montserrat-Bold"),
   url(../font/montserrat-v14-latin-700.woff) format("woff"),
   url(../font/montserrat-v14-latin-700.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto', sans-serif;
  src: local('Roboto'), local("Roboto-Regular"),
      url(../font/roboto-v20-latin-regular.woff) format("woff"),
      url(../font/roboto-v20-latin-regular.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Kaushan Script", sans-serif;
  src: local("Kaushan Script"), local("Kaushan Script-Regular"),
   url(../font/kaushan-script-v8-latin-regular.woff) format("woff"),
   url(../font/kaushan-script-v8-latin-regular.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto', sans-serif;
  src: local('Roboto'), local("Roboto-Regular"),
   url(../font/roboto-v20-latin-regular.woff) format("woff"),
   url(../font/roboto-v20-latin-300italic.woff2) format("woff2");
  font-weight: 300;
  font-style: italic;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: $main-font-stack;
  color: #999999;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 300;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

